.strategy {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 24px;
}
.strategy .report {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    padding: var(--pd-medium);
}
.strategy .report .division {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.strategy .report .division div {
    height: 80%;
    width: 100%;
    background: var(--dark-disable);
    padding: 0!important
}
.strategy .report > div div {
    display: flex;
    justify-content: space-between;
    padding: var(--pd-medium);
}
.strategy .report h5 {
    font-size: var(--size-small);
    font-weight: var(--font-semibold);
    color: var(--dark-disable);
}
.strategy .report h4 {
    font-size: var(--size-small);
    font-weight: var(--font-normal);
    color: var(--dark-disable);
}
.strategy .table {
    margin-right: 24px;
}
.strategy .details {
    border-radius: var(--radius);
    padding: var(--pd-small);
    background: var(--dark-secondary2);
    display: flex;
    flex-direction: column;
}
.strategy .details-p {
    margin-top: var(--pd-big);
}
.strategy .details-p h5 {
    font-size: var(--size-small);
    color: var(--dark-disable);
    font-weight: var(--font-semibold);
}
.strategy .details-p p {
    margin-bottom: 12px;
    margin-top: 4px;
    color: var(--dark-disable);
    color: var(--dark-main1);
    font-weight: var(--font-normal);
    font-size: var(--size-x-small);
}
.strategy .details textarea {
    resize: none;
    width: 100%;
    color: var(--dark-disable);
    font-size: var(--size-small);
    background: var(--dark-terciary1);
    border-radius: 4px;
    outline: none;
    border: none;
    /* padding-left: var(--pd-medium);
    padding-right: var(--pd-medium);*/
    padding: var(--pd-medium);
      appearance: none;
    /* overflow-y: scroll; */
}
.strategy .btn {
    margin-top: 24px;
    align-self: flex-end;
}
@media (max-width: 425px) {
    .strategy {
        margin-right: 0;
    }
}