.clientInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 120px;
    margin-right: 24px;
}
.clientInfo .report {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    padding: var(--pd-medium);
}
.clientInfo .report .division {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clientInfo .report .division div {
    height: 80%;
    width: 100%;
    background: var(--dark-disable);
    padding: 0!important
}
.clientInfo .report > div div {
    display: flex;
    justify-content: space-between;
    padding: var(--pd-medium);
}
.clientInfo .report h5 {
    font-size: var(--size-small);
    font-weight: var(--font-semibold);
    color: var(--dark-disable);
}
.clientInfo .report h4 {
    font-size: var(--size-small);
    font-weight: var(--font-normal);
    color: var(--dark-disable);
}
.clientInfo .suggest {
    background: var(--dark-secondary2);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    padding: var(--pd-medium); 
}
.clientInfo .suggest > div.text {
    margin-top: 32px;
    padding: var(--pd-small);
}
@media (max-width: 425px) {
    .clientInfo {
        margin-right: 0;
        padding-bottom: 0;
    }
    .clientInfo .report {
        display: flex;
        flex-direction: column;
    }
}