.strategyForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: var(--radius);
    margin-top: 24px;
    background: var(--dark-secondary2);
    padding: var(--pd-medium);
}
.strategyForm .productInpt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.strategyForm label {
    color: var(--dark-disable);
}