.botao {
    font-family: 'Open Sans';
    font-size: var(--size-small);
    width: 100%;
    outline: none;
    border: none;
    padding: var(--pd-x-small);
    font-weight: var(--font-semibold);
    color: var(--dark-secondary1);
    background: var(--dark-main1);
    cursor: pointer;
    flex: 1;
    text-decoration: none;
    text-align: center;
}
.botaoNegative {
    font-family: 'Open Sans';
    font-size: var(--size-small);
    width: 100%;
    outline: none;
    border: none;
    padding: var(--pd-x-small);
    font-weight: var(--font-semibold);
    color: var(--dark-warning);
    background: transparent;
    border: 1px solid var(--dark-warning);
    border-radius: var(--radius-btn);
    cursor: pointer;
    flex: 1;
}
.sm {
    width: 200px!important;
    margin-top: 0!important;
}
.SSmBtn {
    width: 82px!important;
    height: 32px;
}
.SSmBtn button {
    padding: 4px;
}
.top {
    margin-top: 24px!important;
}
.lvl3 button {
    font-weight: var(--font-normal)!important;
}
.outline button,
.outline a {
    border-radius: var(--radius-btn);
    border: 1px solid var(--dark-main1);
    color: var(--dark-main1);
    background: transparent;
}
.outline button:hover,
.outline a:hover {
    color: var(--dark-secondary1);
    background: var(--dark-main1);
}
.botaoNegative:hover {
    color: var(--dark-secondary1);
    background: var(--dark-warning);
}
.ripple {
    width: 100%;
    margin-top: 24px;
    border-radius: var(--radius-btn);
    display: flex!important;
}
.ripple-2 {
    position: absolute!important;
    right: 0;
    bottom: 0;
    margin-top: 24px;
    border-radius: var(--radius-btn);
    display: flex!important;
}
@media (max-width: 425px) {
    .ripple-2 {
        position: relative!important;
        left: 0;
    }
}