.heroFlex {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}
.heroFlex.textOnly {
    align-items: flex-start;
    justify-content: flex-start;
}
.heroFlex.reverse {
    flex-direction: row-reverse;
}
.heroFlex .text.textOnly {
    max-width: 70%;
}
.heroFlex .text {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.heroFlex .text h5 {
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: var(--font-normal);
    color: var(--dark-secondary1);
    border-radius: 18px;
    padding: 8px 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    background: rgba(106, 102, 255, .6);
}
.heroFlex .text h2 {
    display: block;
    font-size: 32px;
    color: var(--dark-secondary1);
    text-transform: capitalize;
    font-weight: var(--font-semibold);
}
.heroFlex .text p {
    font-size: 16px;
    text-align: left;
    color: var(--dark-disable);
}
@media (max-width: 425px) {
    .heroFlex {
        flex-direction: column;
    }
    .heroFlex.reverse {
        flex-direction: column;
    }
    .heroFlex img {
        width: 100%;
    }
    .heroFlex .text h2 {
        text-align: left;
        font-size: 28px;
    }
}