:root {
    --dark-main1: #6A66FF;
    --dark-main1-opc: #6b66ff60;
    --dark-main2: ;
    --dark-secondary1: #fff;
    --dark-secondary2: #282945;
    --dark-terciary1: #21223E;
    --dark-fourth: #fff;
    /* --dark-disable: #ffffff4d; */
    --dark-disable: rgba(255, 255, 255, .4) ;
    --dark-success: #25D366;
    --dark-warning: #ff0022;
    --dark-warning-opc: #ff002260;
    --size-big: 32px;
    --size-medium: 24px;
    --size-normal: 20px;
    --size-small: 16px;
    --size-x-small: 14px;
    --size-xx-small: 12px;
    --pd-big: 32px;
    --pd-medium: 24px;
    --pd-small: 16px;
    --pd-x-small: 12px;
    --pd-xx-small: 8px;
    --font-semibold: 600;
    --font-normal: 400;
    --radius: 8px;
    --radius-btn: 4px;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    gap: 16px;
}
.flex-2 {
    display: flex;
    gap: 16px;
}
@media (max-width: 425px) {
    .flex {
        flex-wrap: wrap;
    }   
}
.flex-col {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
}
.bottom {
    margin-bottom: 32px;
}
.none {
    display: none!important;
}