.summary {
    height: 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: var(--radius);
    padding: var(--pd-medium);
    background: var(--dark-secondary2);
    margin-right: 24px;
}
.summary > div {
    /* width: 100%; */
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 24px;
    padding: var(--pd-medium);
    border-right: 1px solid var(--dark-disable);
}
.summary div div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.strategy-summary div .svg,
.summary div .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--pd-xx-small);
    border-radius: var(--radius-btn);
    background: var(--dark-main1-opc);
}
.strategy-summary div svg,
.summary div svg {
    height: 32px;
    width: 32px;
    fill: var(--dark-main1);
}
.summary div h5 {
    font-weight: var(--font-semibold);
    color: var(--dark-disable);
}
.summary div h3 {
    font-weight: var(--font-semibold);
    color: var(--dark-secondary1);
}
.strategy-summary {
    height: 140px;
    border-radius: var(--radius);
    padding: var(--pd-medium);
    background: var(--dark-secondary2);
    margin-right: 24px;
}
.summary h5 span {
    display: none;
}
@media (max-width: 425px) {
    .summary {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-right: 0;
        padding: 0;
        margin-top: 24px;
    }
    .summary div {
        border: none;
    }
    .summary h5 span {
        display: inline;
    }
}