.card {
    padding: var(--pd-medium) var(--pd-big);
    border-radius: var(--radius);
    display: flex;
    gap: 18px;
}
.card h5 {
    font-size: var(--size-small);
    font-weight: var(--font-semibold);
}
.card p {
    font-size: var(--size-xx-small);
}
.dark-card {
    color: var(--dark-disable);
    background: var(--dark-secondary2);
}
@media (max-width: 425px) {
    .card h5 {
        font-size: var(--size-small);
    }
    .card p {
        font-size: var(--size-x-small);
    }
    .card {
        width: 100%;
    }
    .card .divImg {
        display: flex;
        align-items: center;
    }
}