.secondary {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr;
}
@media (max-width: 1200px) {
    .secondary {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .secondary {
        display: flex;
        flex-direction: column-reverse;
    }
}