.card {
    width: 100%;
    max-width: 350px;
    min-height: 400px;
    padding: 40px 36px;
    background: var(--dark-secondary2);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}
.card h4 {
    font-size: 32px;
    font-weight: var(--font-semibold);
    color: var(--dark-secondary1);
    text-align: left;
}
.card p {
    color: var(--dark-disable);
    text-align: left;
}
.card a {
    border-radius: 32px;
    padding: 12px 24px;
    border: 2px solid var(--dark-main1);
    text-decoration: none;
    color: var(--dark-secondary1);
}
.card a:hover {
    background: var(--dark-main1);
}