.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-size: 48px;
    color: var(--dark-secondary1);
}
.title h1 span {
    color: var(--dark-main1);
}
.title p {
    font-size: 16px;
    color: var(--dark-disable);
    max-width: 600px;
}