.error {
    position: absolute;
    top: 82px;
    color: var(--dark-warning);
    border-radius: 4px;
    /* background: var(--dark-warning-opc);
    padding: var(--size-xx-small) var(--pd-small); */
    /* border-bottom: 2px solid var(--dark-warning) */
}
.top {
    top: 24px;
}